.cart-d{
    border: 2px solid gray;
    height: auto;
   margin: 10px;
   width: 300px;
   border-radius: 10px;
}
.img-style{
    width: 100%;
}
.buttton-cart{
    margin: 15px;
    padding: 10px;
    background-color: black;
    border-radius: 5px;
    color: azure;
}